@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css");
.socials-list,
.socials,
.features-list,
.site-nav-list a,
.contacts-list,
.work-examples-list,
.tel-link,
.mail-link,
.logo,
.footer-logo,
.footer-contacts,
.team-list,
.clients-list {
  list-style: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

* {
  outline: 1px solid red;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
}

.heading {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

/*.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;

  color: $primary-text-color;

  letter-spacing: 0.03em;
}
.logo-web {
  color: $accent-color;
}
.site-nav {
  display: flex;
  margin: 0px;
  margin-right: auto;
  margin-left: 85px;
  padding: 0px;
}
.site-nav-list {
  display: flex;
  position: relative;
  align-items: center;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.site-nav-list a {
  display: flex;
  padding: 32px 0px;

  color: $primary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $primary-button-color;
  }
}
.current {
  &::after {
    position: absolute;
    bottom: 0%;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $primary-button-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav-list {
  font-weight: 500;
  font-size: 14px;

  letter-spacing: 0.02em;
  .current {
    color: $accent-color;
  }
}

/* Шапка. Почта и телефон */
/*
.contacts {
  padding: 0px;
  margin: 0px;

  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
}
.tel-link,
.mail-link {
  display: flex;
  padding: 32px 0px;
  margin-left: 30px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;

  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $secondary-text-color;
  fill: $secondary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $mail-tel-hover-color;
    fill: $mail-tel-hover-color;
  }
}
.mail-link {
  margin-left: 0px;
}
*/
/*.footer {
  background-color: $footer-background-color;
}
.footer-container {
  position: relative;

  padding: 60px 15px;
  align-items: center;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;

  line-height: 31px;
  letter-spacing: 0.03em;
}
.studio-title {
  color: $third-text-color;
}
.address-container {
  margin-right: 70px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 21px;
  letter-spacing: 0.03em;
}
.address-info {
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;

  line-height: 21px;
  letter-spacing: 0.03em;
}
.footer-contacts {
  display: inline-block;
  margin-top: 9px;
  margin-right: 70px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: $footer-contacts-color;

  line-height: 21px;
  letter-spacing: 0.03em;
}
.socials-container {
  position: absolute;
  left: 315px;
  top: 72px;
}
.socials {
  display: flex;
}
.socials {
  margin: 0px;
  padding: 0px;
}
.socials-list {
  margin-right: 10px;
}
.text-join {
  display: flex;
  margin-bottom: 20px;

  font-weight: bold;
  font-style: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;

  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $footer-icon-background-color;
  fill: $footer-icon-fill;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: $socials-hover-color;
}
.footer-socials-list:nth-child(4) {
  margin-right: 0px;
}
.asign-container {
  position: absolute;
  left: 600px;
  top: 72px;

  width: 570px;
}
.subscribe-text {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-style: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscribe-form {
  display: flex;
}
.subscribe-input {
  margin: 0px;
  padding: 0px;
}
.subscribe-input {
  display: flex;
  margin-right: 12px;
  padding: 15px 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  align-items: center;
  letter-spacing: 0.03em;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  background-color: $footer-background-color;
  color: rgba(255, 255, 255, 0.6);

  line-height: 20px;
}
.subscribe.button {
  display: flex;
  padding: 10px 28px;

  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  line-height: 30px;
  letter-spacing: 0.06em;
}
.subscribe.button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/svg/iconsend.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
*/
/*# sourceMappingURL=main.css.map */