.footer {
  background-color: $footer-background-color;
}
.container.footer-container {
  text-align: center;
  padding: 60px 15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;

  line-height: 31px;
  letter-spacing: 0.03em;
}
.studio-title {
  color: $third-text-color;
}
.address-container {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 61px;
    margin-right: auto;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px;
    width: 231px;
    text-align: left;
  }

  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 21px;
  letter-spacing: 0.03em;
}
.address-info {
  font-style: normal;
}
.footer-contacts {
  display: inline-block;
  margin-top: 8px;

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }

  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: $footer-contacts-color;

  line-height: 21px;
  letter-spacing: 0.03em;
}
.socials-container {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 74px;
    margin-bottom: 86px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px;
    position: absolute;
    top: 72px;
    left: 315px;
    text-align: left;
  }
}
.socials {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.socials-list {
  margin-right: 10px;
}
.text-join {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: bold;
  font-style: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;

  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $footer-icon-background-color;
  fill: $footer-icon-fill;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: $socials-hover-color;
}
.footer-socials-list:nth-child(4) {
  margin-right: 0px;
}
.asign-container {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 72px;
    right: 15px;
    margin: 0px;
    width: 570px;

    text-align: left;
  }
}
.subscribe-text {
  display: inline-block;

  @media screen and (min-width: 1200px) {
    display: block;
  }
  margin-bottom: 20px;

  font-weight: bold;
  font-style: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscribe-form {
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.subscribe-input {
  margin: 0px;
  margin-bottom: 20px;
  width: 100%;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 12px;
    display: flex;
  }

  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  align-items: center;
  letter-spacing: 0.03em;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  background-color: $footer-background-color;
  color: rgba(255, 255, 255, 0.6);

  line-height: 20px;
}
.subscribe.button {
  display: flex;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
  padding: 10px 28px;

  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  line-height: 30px;
  letter-spacing: 0.06em;
}
.subscribe.button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/svg/iconsend.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
