.footer {
  background-color: $footer-background-color;
}
.footer-container {
  position: relative;

  padding: 60px 15px;
  align-items: center;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;

  line-height: 31px;
  letter-spacing: 0.03em;
}
.studio-title {
  color: $third-text-color;
}
.address-container {
  margin-right: 70px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 21px;
  letter-spacing: 0.03em;
}
.address-info {
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;

  line-height: 21px;
  letter-spacing: 0.03em;
}
.footer-contacts {
  display: inline-block;
  margin-top: 9px;
  margin-right: 70px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: $footer-contacts-color;

  line-height: 21px;
  letter-spacing: 0.03em;
}
.socials-container {
  position: absolute;
  left: 315px;
  top: 72px;
}
.socials {
  display: flex;
}
.socials {
  margin: 0px;
  padding: 0px;
}
.socials-list {
  margin-right: 10px;
}
.text-join {
  display: flex;
  margin-bottom: 20px;

  font-weight: bold;
  font-style: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;

  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $footer-icon-background-color;
  fill: $footer-icon-fill;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: $socials-hover-color;
}
.footer-socials-list:nth-child(4) {
  margin-right: 0px;
}
.asign-container {
  position: absolute;
  left: 600px;
  top: 72px;

  width: 570px;
}
.subscribe-text {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-style: normal;
  font-size: 14px;

  color: $third-text-color;

  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscribe-form {
  display: flex;
}
.subscribe-input {
  margin: 0px;
  padding: 0px;
}
.subscribe-input {
  display: flex;
  margin-right: 12px;
  padding: 15px 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  align-items: center;
  letter-spacing: 0.03em;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  background-color: $footer-background-color;
  color: rgba(255, 255, 255, 0.6);

  line-height: 20px;
}
.subscribe.button {
  display: flex;
  padding: 10px 28px;

  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  line-height: 30px;
  letter-spacing: 0.06em;
}
.subscribe.button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/svg/iconsend.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
