.header {
  position: relative;
}
.navigation {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0px;
  }
}

.menu-button {
  padding: 0px;
  margin: 0px;
  border: none;
  width: 40;
  height: 40px;
  background-color: $main-background-color;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-closecross {
  display: none;
}
.menu-button.is-open .icon-closecross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  display: none;

  @media screen and (max-width: 767.9px) {
    position: absolute;

    left: 0;
    top: 100%;
    width: 100%;
    height: 453px;
    padding: 60px 0px;

    align-items: center;

    background-color: $main-background-color;

    &.is-open {
      display: block;
    }
  }
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 31px;
  }

  color: $primary-text-color;

  letter-spacing: 0.03em;
}
.logo-web {
  color: $accent-color;
}
.site-nav {
  display: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    display: flex;

    margin: 0px;
    margin-right: 84px;
    margin-left: 88px;
    padding: 0px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  letter-spacing: 0.02em;
  .current {
    color: $accent-color;
  }
}
.site-nav-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
    align-items: center;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.site-nav-list a {
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 32px 0px;

    color: $primary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $primary-button-color;
    }
  }
}
.current {
  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      bottom: 0%;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: $primary-button-color;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

/* Шапка. Почта и телефон */

.contacts {
  display: none;
  padding: 0px;
  margin: 0px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-style: normal;

    font-size: 12px;
  }
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.mail-link {
  @media screen and (min-width: 768px) {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

.envelope-icon,
.smartphone-icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.tel-link,
.mail-link {
  @media screen and (min-width: 768px) {
    display: flex;

    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    color: $secondary-text-color;
    fill: $secondary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $mail-tel-hover-color;
      fill: $mail-tel-hover-color;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    font-size: 14px;
    line-height: 16px;
  }
}
