.socials-list,
.socials,
.features-list,
.site-nav-list a,
.contacts-list,
.work-examples-list,
.tel-link,
.mail-link,
.logo,
.footer-logo,
.footer-contacts,
.team-list,
.clients-list,
.radio-buttons {
  list-style: none;
  text-decoration-line: none;
}
* {
  outline: 1px solid red;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}
body {
  font-family: 'Roboto', sans-serif;

  background-color: $main-background-color;
  color: $primary-text-color;
}
.heading {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px;

  text-align: center;

  font-style: normal;
  font-size: 28px;
  font-weight: bold;

  line-height: 33px;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;

    line-height: 42px;
  }
}
