.button {
  width: 200px;
  height: 50px;
  border: solid transparent;
  border-radius: 4px;
  padding: 10px 32px;

  font-weight: bold;

  color: $third-text-color;
  background-color: $primary-button-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $hover-color;
  }
}
