.hero-container {
  margin-left: auto;
  margin-right: auto;
}
.section-hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;
  max-height: 400px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0px;

    text-align: center;
  }
  background-color: $hero-background-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url('../img/header-img/headerimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 60px;
  }

  color: $hero-text-color;

  text-transform: uppercase;

  letter-spacing: 0.06em;
}
