.backdrop {
  position: fixed;
  padding: 93px 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  padding: 40px;
  width: 100%;

  @media screen and (min-width: 480px) {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 450px;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
  border-radius: 4px;

  justify-content: center;
  background-color: $main-background-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
textarea {
  resize: none;
}
.button-close {
  position: absolute;

  right: 23px;
  top: 101px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: #ffffff;

  transform: rotate(0deg);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    right: 8px;
    top: 8px;
  }

  cursor: pointer;

  &:hover,
  &:focus {
    fill: $cross-hover-fill;
    transform: rotate(90deg);
  }
}
.form-element {
  padding: 0px;
  margin: 0px;

  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: 23px;
    margin-bottom: 14px;
  }

  letter-spacing: 0.03em;
}
.input-field {
  margin: 0px;
  padding: 0px;
}

.form {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-bottom: 20px;
  }
}
.input-icon {
  position: absolute;
  left: 15px;
  top: 29px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-container:focus-within > .input-icon {
  fill: $form-icon-fill;
}
.input-item {
  display: inline-block;
  margin-bottom: 4px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  line-height: 14px;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}
.input-field {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  border-radius: 4px;
  padding: 11px 40px;

  outline-color: transparent;

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  outline-color: $accent-color;
}
.comments.input-item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: $secondary-text-color;

  line-height: 14px;
  letter-spacing: 0.01em;
}
.comments.input-field {
  padding: 12px 16px;
  height: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: rgba(117, 117, 117, 0.5);

  line-height: 16px;
  letter-spacing: 0.01em;
}

.agreement-container {
  position: relative;
  display: flex;
  margin-bottom: 30px;

  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }

  letter-spacing: 0.03em;
}

.contract {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: $accent-color;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  cursor: pointer;
}

.visualy-hidden {
  /* Скрытый чекбокс */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button.send {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.checkbox-label {
  display: flex;
  align-items: center;
}
.icon-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 2px;

  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .icon-checkbox {
  fill: $accent-color;
  background-color: $accent-color;
  background-image: url(../img/svg/iconcheck.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}
