.hidden {
  font-size: 0px;
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.item-container p,
h2,
.projects-link {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.our-projects {
  margin: 0px;
  padding: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.projects-list {
  margin: 0px;
  padding: 0px;

  border: 1px solid #eeeeee;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.item-container h2 {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  line-height: 36px;
  letter-spacing: 0.06em;
}
.item-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  color: $secondary-text-color;

  line-height: 30px;
  letter-spacing: 0.03em;
}
.item-container {
  padding: 20px 24px;
}
.portfolio-pic {
  display: block;
  width: 100%;
}
.projects-link {
  color: $primary-text-color;
}
.hidden-text-container {
  overflow: hidden;
  position: relative;
}

.description {
  position: absolute;

  top: 0px;
  left: 0px;

  padding: 63px 24px;
  margin: 0px;

  opacity: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  color: $third-text-color;
  background-color: $description-background-color;

  line-height: 28px;
  letter-spacing: 0.03em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.projects-link:hover .description,
.projects-link:focus .description {
  opacity: 1;
  transform: translateY(0%);
}
