.section:nth-child(3) {
  background-color: $team-background-color;
}
.team {
  margin: 0px;
  padding: 0px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.team-list {
  margin: 0px;
  padding: 0px;

  background-color: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }
}
.names,
.profession,
.socials {
  margin: 0px;
  padding: 0px;
}

.profession {
  margin-bottom: 16px;
  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  line-height: 19px;
  color: $secondary-text-color;
  letter-spacing: 0.03em;
}
.names {
  margin-bottom: 10px;

  text-align: center;

  font-weight: 500;
  font-size: 16px;

  line-height: 19px;
  letter-spacing: 0.03em;
}

.photo {
  display: block;
}
.team-elements {
  align-items: center;
  justify-content: center;
  padding: 27px 0px;
  @media screen and (min-width: 768px) {
    padding: 27px 74px;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}
.socials {
  display: flex;

  justify-content: center;
}
.link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  align-items: center;
  justify-content: center;

  fill: $icon-fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  background-color: $socials-hover-color;
  fill: $socials-hover-fill;
}

.socials-list:nth-child(4) {
  margin-right: 0px;
}
