.work-heading {
  display: none;
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;

    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;

    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    line-height: 42px;
    letter-spacing: 0.03em;
  }
}
.work-examples {
  margin: 0px;
  padding: 0px;
  display: none;
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.work-examples-list {
  margin-right: 30px;
  &:nth-child(3n) {
    margin-right: 0px;
  }
}
.work-pic-container {
  position: relative;
}
.work-pic {
  display: block;
}
.work-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  margin: 0px;
  padding: 27px 0px;
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  background-color: rgba(47, 48, 58, 0.8);
  color: $third-text-color;

  letter-spacing: 0.03em;
  line-height: 16px;
  text-transform: uppercase;
}
