$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff;
$accent-color: #2196f3;
$mail-tel-hover-color: #2196f3;
$hover-color: #188ce8;
$second-hover-color: #2196f3;
$hero-background-color: #c4c4c4;
$hero-overlay-color: rgba(47, 48, 58, 0.4);
$hero-text-color: #ffffff;
$main-background-color: #ffffff;
$footer-background-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$primary-button-color: #2196f3;
$border-color: #afb1b8;
$features-background-color: #f5f4fa;
$clients-hover-color: #2196f3;
$clients-hover-fill: #2196f3;
$socials-hover-color: #2196f3;
$socials-hover-fill: #ffffff;
$icon-fill: #afb1b8;
$team-background-color: #f5f4fa;
$footer-icon-fill: #ffffff;
$footer-icon-background-color: rgba(255, 255, 255, 0.1);
$cross-hover-fill: #2196f3;
$form-icon-fill: #2196f3;
$radio-buttons-background-color: #f5f4fa;
$description-background-color: rgba(33, 150, 243, 0.9);
